* {
    box-sizing: border-box;
    overflow-x: hidden;
}
// Variables
$light-font: #424242;
$full-width: 100%;
$dark-pink: rgb(175, 37, 106);
// Variables End

// Base Styles
body {
    // background: #333;
    // font-size: 18px;
    font-weight: 500;
    color: $light-font;
    margin: 0;
    font-weight: 300;
    padding: 10px;
    font-family: Arial, sans-serif
    // remove default spacing on body 
}
h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin: 5px;
}
img {
    width: $full-width;
    // style default images
}
a {
    // style the links
    text-decoration: none;
    color: $light-font;
    font-size: 1em;
}
.pink-text {
    color:$dark-pink;
    text-decoration: underline;
    &:hover {
        text-decoration: none;
    }
}
.wrapper {
    width: $full-width;
    background: #fdfdfd;
}
// Base Style ends

// ******* Header Files ************
// .header {
//     background-color: rgb(14, 13, 13);

//     .logo{
//         height: 50px;
//         width: 90px;
//         // logo that is inside header
//     }

//     .top-header {
//         width: $full-width;
//     }
//     nav {
//         // display: block;
//         text-align: left;
//         width: 100vw;
//         a {
//             // margin: 10px;
//             padding: 5px;
//             border-right: 1px solid #3df;
//             padding-right: 1.0em;
//         }
//     }
//     iframe {
//         width: $full-width;
//         // display video full width
//     }
// }

// Main and container section
.container {
    max-width: 900px;
    // added background color
    color: #000;
    // add a max width of 900px
    .top-heading {
// Contents for the heading top middle and bottom
        nav {
            // Heading Navigation
            a{
                padding-right:20px;
                font-weight: 200;
            }
            padding: 20px;
            // creates spacing for the border colors
            .top-link-a {
                border: solid 1px rgb(230, 51, 81);
                color:$dark-pink;
                border-left: none;
                border-bottom: none;
            }
            .top-link-b {
                border: solid 1px rgb(31, 33, 131);
                color: rgb(31, 33, 131);
                border-left: none;
                border-bottom: none;
            }
            .top-link-c {
                border: solid 1px red;
                color: red;
                border-left: none;
                border-bottom: none;
            }
        }
    }

    .top-content{
        // padding: 20px;
        // style top content and H3 inside
        h3 {
            font-size: 1.5em;
            font-weight: 600;
            margin: 10px;
        }
        .top-footer{
            display: flex;
            // this container displays the whole div inline into a 1 row
            .top-link {
                color: rgb(92, 85, 85);
                padding-right: 3px;
                a {
                    color: rgb(236, 115, 135);
                    font-size: 14px;
                    font-weight: 500;
                    // font: bold;
                    border-right: 1px solid black;
                    margin-right: 10px;
                    padding-right: 6px;
                    // this style fixes the top inline navigation
                }
            }
            i {
                display: block; 
            }
        }
    }
}
// main section that contains the text
main {


    p{
        font-size: 1.2em;
    }
}
// aside
aside {
    // style the link inside the aside to remove line
    .pink-text {
        text-decoration: none;
        font-size: 1.3em;
    }
    h3 {
        // styles the border for the aside 
        border-top: 2px solid grey;
        border-right: 2px solid $light-font;
        width: 200px;
        // decrease width for the border to be visible        
        text-transform: uppercase;
        margin: 20px;
        // adds some breathing space on top of the heading
    }
    figure {
        padding: 0;
        margin: 0;
        // removes default spacing on the figure tag
    }
    // video Section under aside
    iframe {
        width: $full-width;
    // display video full width
    }
    
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    // 1column for mobile first approach
    // has a 10px gap for spacing
}



// media queries
@media(min-width: 600px){
    .grid {
        grid-template-columns: 1fr 1fr;
        // 2 columns for tablet view 
    }
}